.location-info {
  background-color: #333;
  border: 2px solid #212121;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  margin: 20px auto;
  text-align: center;
}
  
.location-info h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  text-align: left;
  color: #FFF;
}
  
.country-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.country-time p {
  margin: 0;
  font-size: 16px;
  color: #FFF;
}
  
.country-time .time {
  font-size: 14px;
  color: #FFF;
}
  