@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

.title {
    color: rgb(231, 231, 231);
    padding: 0 1rem;
}

.title h1 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}